.App {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: sans-serif;
}

.container{
  height: 200px;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.title{
  padding: 10px 20px;
  font-size: 40px;
  text-align: center;
}

.container__chilldren
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container__chilldren--label{
  font-size: 24px;
  text-align: center;
}

.container__chilldren--inputs{
  border: none;
  font-size: 40px;
  width: 50px;
  height: 40px;
  outline: none;
  text-align: center;
}

.container__chilldren--colon{
  font-size: 30px;
  text-align: center;
}

.btn {
  width: 48%;
  height: 50px;
  font-size: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.start{
  background-color: green;
}

.stop{
  margin-left: 20px;
  margin-right: 20px;
  background-color: red;
}

.reset{
background-color: orange;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin: 0;
}